@page
@model IndivisibleArk.Pages.Interests.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.F_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.F_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.M_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.M_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.L_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.L_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.M_address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.M_address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Apt_lot_no)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Apt_lot_no)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.County)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.County)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.P_aff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.P_aff)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Precinct)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Precinct)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Zip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Registration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Registration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Location.LocationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Interest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Interest.InterestId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Contact.ContactId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
