@page
@model IndivisibleArk.Pages.Interests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Interests</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Interest[0].Interests)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Interest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Interests)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InterestId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InterestId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InterestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
