@page
@model IndivisibleArk.Pages.Registrations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Registration Locations</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].Contact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Registration) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RegistrationID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RegistrationID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RegistrationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
