@page
@model IndivisibleArk.Pages.Scripts.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Script</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Script.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Script.Topic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Script.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Script.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Script.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Script.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Script.Interest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Script.Interest.InterestId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Script.ScriptId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
