@page
@model IndivisibleArk.Pages.Scripts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Script</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Script.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Script.Topic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Script.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Script.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Script.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Script.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Script.Interest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Script.Interest.InterestId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Script.ScriptId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
