@page
@model IndivisibleArk.Pages.Scripts.GenerateModel

@{
    ViewData["Title"] = "Generate";
}

<h1>Generate Named Script</h1>

<h2 id="contact">Current Contact: </h2>

<h2 id="script">Current Script: </h2>

<button id="gen_btn" onclick='GenerateScript()'>Generate Script</button>

<p id="generated"></p>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>Script</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Script)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Topic)
                    </td>
                    <td>
                        @Html.Hidden("contIDNum", item.ScriptId)
                        <button id="gen_btn" onclick='SelectScript(@item.ScriptId)'>Use</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <h1>Contacts</h1>
    <p></p>
    <form asp-page="./Generate" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name:
                <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                <input type="submit" value="Search" class="btn btn-primary" /> |
                <a asp-page="./Generate">Back to full List</a>
            </p>
        </div>
    </form>
    <p></p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Contact[0].F_name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Contact[0].L_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact[0].Email)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Contact[0].Registration)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Contact)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.F_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.L_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Registration)
                    </td>

                    <td>
                        <button id='view_btn' onclick="SelectContact(@item.ContactId)">Use</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        var contact = "";
        var script = "";
        var finalscript = "";

        function SelectContact(conID) {

            $.ajax({
                url: '/Contacts/Filter',
                data: {
                    Contact: conID
                }
            })
                .done(function (result) {
                    console.log(result[0]);
                    contact = result[0].f_name + " " + result[0].l_name;
                    $("#contact").empty();
                    $("#contact").append("Current Contact: " + contact);
                });

        }

        function SelectScript(sID) {

            $.ajax({
                url: '/Scripts/Filter',
                data: {
                    Script: sID
                }
            })
                .done(function (result) {
                    console.log(result[0]);
                    script = result[0].text;
                    console.log(script);
                    $("#script").empty();
                    $("#script").append("Current Script: "+ result[0].topic);
                });

        }

        function GenerateScript() {
            var finalscript = script;
            finalscript = finalscript.replace("_c_", contact);
            $("#generated").empty();
            $("#generated").append(finalscript);
        }
  
    </script>
}