@page
@model IndivisibleArk.Pages.Scripts.IndexModel

@{
    ViewData["Title"] = "Scripts";
}

<h1>Scripts</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Script[0].Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Script[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Script[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Script[0].Interest)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Script) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interest.Interests)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ScriptId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ScriptId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ScriptId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
